<main class="content" role="main">
  <div class="wrapper">
    <%= render 'games/games',         players: @players     %>
    <%= render 'compendia/compendia', compendia: @compendia %>
  </div>
</main>
