<main class="content content--dashboard" role="main">
  <div class="wrapper">
    <div class="user-dashboard">
      <%= render 'games/games',         players: @players     %>
      <%= render 'compendia/compendia', compendia: @compendia %>
    </div>
  </div>
</main>
