.block {
  margin-bottom: calc(var(--spacing-unit) * 8);
}

.block__header {
  @include flexbox(flex, row, wrap, flex-start, center);
  padding-bottom: calc(var(--spacing-unit) * 3);
  margin-bottom: calc(var(--spacing-unit) * 3);
  border-bottom: 1px solid #222;
  
  h1, h2 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
  }
}

.block__actions {
  margin-left: auto;
}

.block__content {
  width: 100%;
  
  a {
    color: #fff;
  }
}
