.flash-message {
  background: #eee;
  padding: 18px 24px;
  padding: {
    top: calc(var(--spacing-unit) * 3);
    right: calc(var(--spacing-unit) * 4);
    bottom: calc(var(--spacing-unit) * 3);
    left: calc(var(--spacing-unit) * 4);
  }
}

.flash-message--success,
.flash-message--error {
  color: #fff;
}

.flash-message--success {
  background: #28a745;
}

.flash-message--error {
  background: #dc3545;
}
