.section-block {
  margin-bottom: 24px;
}

.section-block__header {
  margin-bottom: 18px;
  
  h1, h2 {
    font-size: 21px;
    line-height: 30px;
    font-weight: 600;
  }
}

.section-block__actions {
  margin-bottom: 18px;
}
