<section class="section-block section-block--compendia">
  <header class="section-block__header">
    <h2>
      <%= t '.compendia' %>
    </h2>
  </header>
  
  <div class="section-block__actions">
    <%= link_to t('.create_new_compendium'), new_compendium_path, class: 'button' %>
  </div>
  
  <% if compendia.present? %>
    <ul>
      <% compendia.each do |compendium| %>
        <li>
          <%= link_to compendium.title, compendium %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p><%= t '.no_compendia_available' %></p>
  <% end %>
</section>
