<%
title t('.page_title', compendium: @compendium.title)
%>
<main class="content content--edit-compendium" role="main">
  <div class="wrapper">
    <section class="edit-compendium">
      <header class="edit-compendium__header">
        <h2>
          <%= t '.edit_compedium' %>
        </h2>
      </header>
      
      <div class="edit-compendium__content">
        <%= render 'form', compendium: @compendium %>
      </div>
    </section>
  </div>
</main>
