<main class="content" role="main">
  <div class="wrapper">
    <section class="block block--edit-compendium">
      <header class="block__header">
        <h2>
          <%= t '.edit_compedium' %>
        </h2>
      </header>
      
      <div class="block__content">
        <%= render 'form', compendium: @compendium %>
      </div>
    </section>
  </div>
</main>
