<div class="player-chat__log" id="<%= dom_id(session, 'chat_messages') %>" data-target="text-chat.messages">
  <%=
    render partial: 'games/chat_messages/chat_message',
        collection: messages
  %>
</div>
