<main class="content content--user-auth" role="main">
  <div class="wrapper">
    <section class="user-auth">
      <header class="user-auth__header">
        <h1 class="title"><%= t '.signup' %></h1>
      </header>
    
      <%= render 'form', user: @user %>
    </section>
  </div>
</main>
