<h1><%= t'.title' %></h1>

<%= t'.welcome_html', user: @user.name %>

<%= link_to t('.activate'), edit_account_activation_url(@user.activation_token,
                                                    email: @user.email), id:  "activation-link" %>