//
// Body
// =====================================
body {
  color: var(--color-copy);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  font-family: var(--default-font-stack);
  background: #F6EFE0;
}

// Forms
// =====================================
input, textarea, select,
button {
  color: var(--color-copy);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  font-family: var(--default-font-stack);
}

button, input[type="submit"] {
  cursor: pointer;
}

a {
  color: var(--color-copy);
  text-decoration: underline;
  
  &:hover {
    text-decoration: none;
  }
}
