//
// Body
// =====================================
body {
  color: #222;
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  font-family: var(--default-font-stack);
  background: #F6EFE0;
}

// Forms
// =====================================
input, textarea, select,
button {
  color: #222;
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  font-family: var(--default-font-stack);
}

button, input[type="submit"] {
  cursor: pointer;
}
