<%
map = floor.map
%>
<div id="<%= dom_id(floor, :characters_tab) %>" data-target="map--panel.tab">
  <div class="panel-block">
    <%=
      link_to t('.new_character'), '',
        class: 'button is-small is-link is-outlined is-fullwidth',
        data:  {
          remote: true
        }
    %>
  </div>
</div>