.main-navigation {
  @include flexbox(flex, row, wrap, flex-start, center);
  padding: {
    right: calc(var(--spacing-unit) * 4);
    left: calc(var(--spacing-unit) * 4);
  }
}

.main-navigation__branding {
  
  a {
    color: #222;
    font-weight: 600;
    text-decoration: none;
  }
}

.main-navigation__items {
  @include flexbox();
  margin-left: auto;
}

.main-navigation__item {
  position: relative;
  
  a {
    display: block;
    color: #222;
    text-decoration: none;
    padding: {
      top: calc(var(--spacing-unit) * 2);
      right: calc(var(--spacing-unit) * 3);
      bottom: calc(var(--spacing-unit) * 2);
      left: calc(var(--spacing-unit) * 3);
    }
  }
  
  &:hover,
  a:hover {
    color: #fff;
    background: #222;
  }
}

.main-navigation__dropdown {
  display: none;
  
  .main-navigation__item:hover & {
    position: absolute;
    right: 0;
    display: block;
    width: 232px;
    background: #222;
    box-shadow: rgba(0,0,0,.3) 0 1px 2px;
  }
  
  .main-navigation__item {

    a {
      color: #fff;
      padding: {
        top: calc(var(--spacing-unit) * 2);
        right: calc(var(--spacing-unit) * 3);
        bottom: calc(var(--spacing-unit) * 2);
        left: calc(var(--spacing-unit) * 3);
      }
      border-bottom: 1px solid #444;
    }
    
    &:last-child a {
      border-bottom: none;
    }
    
    &:hover,
    a:hover {
      color: #fff;
      background: #FF0000;
    }
  }
}
