<main class="content" role="main">
  <div class="wrapper">
    <section class="section-block section-block--edit-compendium">
      <header class="section-block__header">
        <h2>
          <%= page.title %>
        </h2>
      </header>
      
      <div class="section-block__actions">
        <%=
          link_to t('.edit_page'), edit_compendium_page_path(page.compendium, page),
            class: 'button is-small is-link is-outlined'
        %> 
      </div>
      
      <%= render page.contents %>
    </section>
  </div>
</main>
