<main class="content content--page" role="main">
  <div class="wrapper">
    <section class="block block--page">
      <header class="block__header">
        <h2>
          <%= page.title %>
        </h2>
        
        <div class="block__actions">
          <%=
            link_to t('.edit_page'), edit_compendium_page_path(page.compendium, page),
              class: 'button is-small is-link is-outlined'
          %> 
        </div>
      </header>
      
      <div class="block__content">
        <%= render page.contents %>
      </div>
    </section>
  </div>
</main>
