<section class="page">
  <header class="page__header">
    <h2>
      <%= page.title %>
    </h2>
    
    <div class="page__actions">
      <ul>
        <li>
          <%=
            link_to t('.edit_page'), edit_compendium_page_path(page.compendium, page),
              class: 'button is-small is-link is-outlined'
          %> 
        </li>
      </ul>
    </div>
  </header>

  <div class="page__content">
    <%= render page.contents %>
  </div>
</section>
