<%
  page = toc_page
%>
<li data-tree-id="<%= page.id %>">
  <%= link_to page.title, compendium_page_path(page.compendium, page), data: { target: 'tree.node' } %>
  <% if page.children.size > 0 %>
    <ol>
      <%= render partial: 'toc_page', collection: page.children %>
    </ol>
  <% end %>
</li>
