<main class="content content--edit-page" role="main">
  <div class="wrapper">
    <section class="edit-page">
      <%=
        render 'table_of_contents',
          compendium: @compendium,
          page:       @page,
          mode:       'edit'
      %>
      
      <div class="edit-page__form">
        <%= render 'form', compendium: @compendium, page: @page %>
      </div>
    </section>
  </div>
</main>
