<main class="content" role="main">
  <div class="wrapper">
    <section class="section-block section-block--new-page">
      <header class="section-block__header">
        <h2>
          <%= t '.create_a_new_page' %>
        </h2>
      </header>
      
      <%= render 'form', compendium: @compendium, page: @page %>
    </section>
  </div>
</main>
