<%
title    @page.title
subtitle @compendium.title
%>
<main class="content content--show-page" role="main">
  <div class="wrapper">
    <div class="compendium-page">
      <%=
        render 'table_of_contents',
          compendium: @compendium,
          page:       @page,
          mode:       'show'
      %>
      
      <div class="compendium-page__content">
        <%= render @page %>
    </div>
  </div>
</main>
