.compendium-page {
  @include flexbox(flex, row, wrap, space-between);
  
  .compendium-page__content,
  .compendium-page__form {
    width: calc(100% - (300px + var(--spacing-unit) * 5));
  }
  
  .compendium-page__form {
    
    .form__header {
      @include flexbox(flex, row, wrap, space-between, center);
      padding-bottom: calc(var(--spacing-unit) * 2);
      margin-bottom: calc(var(--spacing-unit) * 3);
      border-bottom: 1px solid #222;
    }
    
    .form__flex {
      @include flexbox(flex, row, wrap, space-between, center);
      max-width: calc(var(--spacing-unit) * 97);
      
      .group__fields {
        width: calc(100% - (calc(var(--spacing-unit) * 11)));
        border: 1px solid #000;
      }
      
      .group__actions {
        width: calc(var(--spacing-unit) * 8);
        text-align: center;
        background: #fff;
        padding: {
          top: var(--spacing-unit);
          bottom: var(--spacing-unit);
        }
        border: 1px solid #000;
        
        ol {
          font-size: 0;
          line-height: 0;
        }
        
        li {
          margin: {
            top: var(--spacing-unit);
            bottom: var(--spacing-unit);
          }
        }
        
        li a {
          display: inline-block;
          width: calc(var(--spacing-unit) * 3);
          height: calc(var(--spacing-unit) * 3);
          background: #FF0000;
          border-radius: 50%;
        }
      }
    }
    
    .form__new-group {
      font-size: 0;
      line-height: 0;
      text-align: center;
      margin: {
        top: calc(var(--spacing-unit) * 3);
        bottom: calc(var(--spacing-unit) * 3);
      }
      
      a {
        display: inline-block;
        width: calc(var(--spacing-unit) * 3);
        height: calc(var(--spacing-unit) * 3);
        background: #FF0000;
        border-radius: 50%;
      }
    }

    .form__new-group + .form__new-group {
      display: none;
    }
  }
}
