<section class="section">
  <div class="container">
    <h1 class="title">
      <%= map_page.title %>
    </h1>
    
    <div class="content">
      <%= render map_page.contents %>
    </div>
  </div>
</section>