.compendium-toc {
  width: 300px;
  background: #FBF5EA;
  box-shadow: 0 0 15px 0 rgba(218,193,169,0.13);
  border-radius: 4px;
  
  .toc__header { 
    font-weight: 600;
    padding: {
      top: calc(var(--spacing-unit) * 2);
      right: calc(var(--spacing-unit) * 3);
      bottom: calc(var(--spacing-unit) * 2);
      left: calc(var(--spacing-unit) * 3);
    }
    border-bottom: 1px solid rgba(61,51,41,0.10);
  }
  
  .toc__maps,
  .toc__pages {
    padding: {
      top: calc(var(--spacing-unit) * 2);
      right: calc(var(--spacing-unit) * 3);
      bottom: calc(var(--spacing-unit) * 2);
      left: calc(var(--spacing-unit) * 3);
    }
          
    header {
      @include flexbox();
      
      strong {
        font-size: 20px;
        line-height: 27px;
      }
    }
  }
  
  .toc__maps {
    border-bottom: 1px solid rgba(61,51,41,0.10);
  }
  
  .maps__actions,
  .pages__actions {
    margin-left: auto;
  }
  
  .maps__contents,
  .pages__contents {
    margin-top: var(--spacing-unit);
  }
  
  .maps__contents {
    font-weight: 600;
  }
}
