.compendium-description {
  margin-bottom: calc(var(--spacing-unit) * 6);
  
  .compendium-description__header {
    @include flexbox(flex, row, wrap, space-between, center);
    padding-bottom: calc(var(--spacing-unit) * 2);
    margin-bottom: calc(var(--spacing-unit) * 3);
    border-bottom: 1px solid rgba(61,51,41,0.10);
    
    h2 {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
    }
    
    .compendium-description__actions {
      
      ul {
        @include flexbox();
      }
      
      li {
        margin-left: var(--spacing-unit);
      }
    }
  }
  
  .compendium-description__content { 
    background: #FBF5EA;
    padding: calc(var(--spacing-unit) * 3);
    box-shadow: 0 0 15px 0 rgba(218,193,169,0.13);
    border-radius: 4px;
  }
}
