//
// Flexbox
// ==================================
// Usage: @include flexbox(flex, row, wrap, flex-start, flex-start);
//
@mixin flexbox($display: flex, $flex-direction: row, $flex-wrap: wrap, $justify-content: flex-start, $align-items: flex-start) {
  display: $display;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}
