<%
map = floor.map
%>
<div id="backgrounds_panel" data-target="map--editor.panel">
  <% floor.backgrounds.each do |background| %>
    <div class="panel-block">
      <div class="level is-mobile">
        <h2 class="level-left">
          <%= link_to background.filename, map_background_path(map, background) %>
        </h2>
        <p class="level-right">
          <%=
            link_to t('.edit'),
              edit_map_background_path(map, background),
              class: 'button is-small',
              data: { remote: true }
          %>
        </p>
      </div>
    </div>
  <% end %>
  <div class="panel-block">
    <%=
      link_to t('.new_background'), new_map_background_path(map, background: { floor_id: floor.id }),
        class: 'button is-small is-link is-outlined is-fullwidth',
        data:  {
          remote: true
        }
    %>
  </div>
</div>