<div class="map-editor__canvas"
     data-controller="map--canvas"
     data-action="resize@window->map--canvas#resize"
     data-map--canvas-width="<%= map.width %>"
     data-map--canvas-height="<%= map.height %>">
  
  <div class="canvas__zoom">
    <a data-action="click->map--canvas#zoomIn">+</a>
    <a data-action="click->map--canvas#zoomOut">-</a>
  </div>
  
  <div data-target="map--canvas.canvas">
  </div>
  
  <div style="display: none;">
    <%= render map.floors %>
  </div>
</div>
