<div class="map-editor__toolbox">
  <div class="toolbox__floors">
    <strong>Floor</strong>
    
    <select>
      <option>First floor</option>
      <option>Second floor</option>
      <option>Third floor</option>
    </select>
    
    <a href="#" class="button">
      New floor
    </a>
  </div>
  
  <div class="toolbox__tools">
    <ul>
      <li><a href="#">Select</a></li>
      <li><a href="#">Wall</a></li>
      <li><a href="#">Doorway</a></li>
      <li><a href="#">Character</a></li>
      <li><a href="#">Area</a></li>
    </ul>
  </div>
</div>