<nav class="panel" id="<%= dom_id(map, :panel) %>" data-controller="panel" data-panel-active="true">
  <div class="panel__heading">
    <h1>
      <%= map.title %>
    </h1>
    <%=
      link_to t('.edit'),
        edit_map_path(map),
        class: 'button is-small',
        data: { remote: true }
    %>
  </div>
  <% map.floors.each do |floor| %>
    <%=
      link_to floor.title, "##{dom_id(floor)}",
        class: 'panel__block',
        data: {
          action: 'click->panel#openPanel click->map-editor#changeFloor',
          panel:  dom_id(floor, :panel),
          floor:  dom_id(floor)
        }
    %>
  <% end %>
</nav>
