<div class="map-editor-canvas"
     data-controller="map--canvas"
     data-action="resize@window->map--canvas#resize"
     data-map--canvas-width="<%= map.width %>"
     data-map--canvas-height="<%= map.height %>">
  
  <div class="map-editor-zoom">
    <div class="level is-mobile">
      <span class="level-left">
        <a data-action="click->map--editor#zoomOut" class="button">-</a>
      </span>
      <span class="level-right">
        <a data-action="click->map--editor#zoomIn" class="button">+</a>
      </span>
    </div>
  </div>
  
  <div data-target="map--canvas.canvas">
  </div>
  
  <div style="display: none;">
    <%= render map.floors %>
  </div>
</div>
